.body {
    display: flex;
    background-color: #0C1740;
    padding: 10px;
}

.container-1 {
    background-color: #0C1740;
    height: 640px;
    width: 300px;
}

.container-2{
    background-color: white;
    width: 1600px;
    height: 845px;
    border-radius: 5px;
}

.container-logo-text {
    display: flex;
    height: 50px;
    width: 300px;
    align-items: center;
}

.logo{
    height: 40px;
    width: 55px;
}
.text-logo{
    /* background-color: black; */
    height: 45px;
    width: 122px;
    display: flex;
    font-size: 10px;
    align-items: center;
    justify-content: center;
}

.display-select {
    height: 250px;
    width: 240px;
    display: flex;
    margin: 50px 60px;
    flex-direction: column;
    color: white;
    gap: 30px;
    justify-content: center;
}

.select {
    height:25px;
    width: 200px;
}

.font-select {
    font-size: 20px;
    color: white;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.ket-hal {
    /* background-color: rebeccapurple; */
    height: 50px;
    width: 1584px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.column-input-2{
    /* background-color: red; */
    height: 300px;
    width: 350px;
    margin-left: 120px;
    margin-top: 35px;
    /* display: flex; */
    flex-direction: column;
}

.button {
    height: 31px;
    width: 100px;
    border-radius: 5px;
    color: white;
    background-color: #0C1740;
    font-weight: 500;
    /* padding: -3px 15px; */
}

.ket-input {
    /* background-color: blue; */
    height: 30px;
    width: 150px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.input {
    /* background-color: aqua  ; */
    height: 30px;
    width: 200px;
    display: flex;
    align-items: center;
}

.input-2 {
    border-radius: 5px;
    height: 25px;
    width: 180px;
}

.form {
    /* background-color: aqua; */
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 50px;
}

.display-form {
    /* background-color: black; */
    height: 30px;
    width: 100%;
    display: flex;
    /* flex-direction: column; */
}

.button-potision{
    /* background-color: yellowgreen; */
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.button-input {
    background-color: #0C1740;
    border-radius: 5px;
    color: white;
    height: 30px;
    width: 70px;
}


.out {
    /* background-color: blue; */
    height: 400px;
    width: 200px;
    /* margin-bottom: 200px; */
    padding-bottom: 50px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    align-items: end;
}

.text-out{
    size: 50px;
    color: white;
    text-decoration: none;
}


