.body {
    display: flex;
    background-color: #0C1740;
    padding: 10px;
}

.container {
    background-color: #0C1740;
    height: 640px;
    width: 300px;
}

.container-2{
    background-color: white;
    width: 1140px;
    border-radius: 5px;
}

.container-logo-text {
    display: flex;
    height: 50px;
    width: 300px;
    align-items: center;
}

.logo{
    height: 40px;
    width: 55px;
}
.text-logo {
    height: 45px;
    width: 122px;
    display: flex;
    font-size: 16px;
    align-items: center;
    justify-content: center;
}

.display-select {
    height: 250px;
    width: 240px;
    display: flex;
    margin: 50px 60px;
    flex-direction: column;
    color: white;
    gap: 30px;
    justify-content: center;
}

.select {
    height:25px;
    width: 200px;
}

.font-select {
    font-size: 20px;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.ket-hal {
    height: 50px;
    width: 1136px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.display-input{
    /* background-color: red; */
    height: 50px;
    width: 400px;
    margin-top: 65px;
    display: flex;
}

.display-search {
    /* background-color: black; */
    height: 50px;
    width: 400px;
    margin-top: 10px;
    display: flex;
}

.ket-hal-2 {
    /* background-color: blue; */
    height: 50px;
    width: 50px;
    margin-left: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ket-hal-3 {
    /* background-color: bisque; */
    height: 50px;
    width: 100px;
    margin-left: 120px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.font-ket-hal-2{
    font-size: 16px;
    font-weight: 550;
    font-family: 'Poppins', sans-serif;
}

.column-input {
    /* background-color: aquamarine; */
    height: 50px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ket-column-input{
    height: 25px;
    width: 170px;
    border-radius: 10px;
    padding-left: 10px;
    border: 1px solid;
}

.button {
    height: 30px;
    width: 60px;
    border-radius: 5px;
    color: white;
    background-color: #0C1740;
    font-weight: 500;
}



