<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/admin.css">
    <title>Document</title>
</head>
<body class="body">
    <div class="container">
        <div class="container-logo-text">
            <div class="logo">
                <img src="../view/asset/image/logo.png" alt="" height="40px">
            </div>
            <div class="text-logo">
                <h4 style="color: white;">Sistem Absen Praktikan</h4>
            </div>
        </div>

        <div class="display-select">
            <div class="select">
                <a href="inputdata.html" class="font-select">Input Data</a>
            </div>
            <div class="select">
                <a href="datamahasiswa.html" class="font-select">Data Mahasiswa</a>
            </div>
            <div class="select">
                <a href="daftarkehadiran.html" class="font-select">Daftar Kehadiran</a>
            </div>
            <div class="select">
                <a href="daftarperizinan.html" class="font-select">Daftar Perizinan</a>
            </div>

        </div>
    </div>
    <div class="container-2">

    </div>
</body>
</html>